#myChart {
    max-height: 240px;
}

.chart {
    .chart-rate {
        font-weight: 600;
    }
     
    .chart-interval {
        font-weight: 400;
        font-size: 15px;
        color: #717E8C;
    }
}