.modal {
    width: 450px;
    margin: 0 auto;
    
    .modal-header, .modal-footer {
        padding: 22px 32px 22px 32px;
    }
    
    .modal-body {
        padding: 22px 32px 12px 32px;
    }
    
    .modal-footer {
        padding: 0px 32px 32px 32px;
    }
    
    .modal-title {
        font-size: 18px;
    }
    
    .btn {
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 18px;
    }
    
    .modal-footer {
        border: none;
    }
    
}