.payment {
    h4 {
        font-weight: 600;
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .btn {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 1.125rem;
    }

    .btn:focus {
        // background-color: rgba(0, 0, 0, 0.03);
        box-shadow: none !important;
        border: none;
        outline: 0;
    }

    .btn:active {
        background-color: rgba(0, 0, 0, 0.03) !important;
        border: none;
        box-shadow: none;
        outline: 0;
    }

    .mb-6 {
        margin-bottom: 32px;
    }

    label {
        font-size: 16px;
        color: #717E8C;
    }

    .input-container {
        // background-color: red;
        border: 1px solid #C0C7CC;
        border-radius: 3px;
        margin-bottom: 28px;
        height: 56px;
    }

    input {
        height: 100%;
        width: 100%;
        padding-left: 12px;
        font-size: 1.25rem;
        border: none;
        color: #001021;
        background-color: transparent;
        font-weight: 600;
    }

    input:focus {
        border: none;
        outline: 0;
        box-shadow: none;
    }

    .exchange-item-container {
        margin-left: -42px;
        margin-right: -42px;
        padding: 24px 48px 24px 48px; // border-bottom: 1px solid #E8EAEB;
        border-top: 1px solid #F7F9FA;
    }

    .exchange-item-container:first-child {
        border-top: none; // padding-top: 0;
    }

    .exchange-item-container:last-child {
        border-bottom: 1px solid #E8EAEB;
    }

    .exchange-item-container:hover {
        background-color: #F7F9FA;
    }

    .col-5 {
        padding: 0;
    }

    .col-7 {
        padding: 0;
    }

    .exchange-item-container p {
        margin-bottom: 4px;
    }

    .exchange-item-container h4 {
        margin-bottom: 2px;
    }

    .dropdown .btn {}

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-item:last-child {
        border-top: 1px solid #E8EAEB;
        color: #0459C4;
        background: #F7F9FA;
    }

    .dropdown-item {
        font-weight: 600;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .fa-university {
        color: #0459C4;
        margin-right: 14px;
    }


}
